* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}

.gallery {
    margin-top: 100px;
    padding: 10px;
    background-color: #EEE;
}

.gallery-cell {
    width: 66%;
    height: 500px;
    overflow: hidden;
    padding: 0 20px;
}

.cellcontent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(#DDD 50%, #AAA);
    border-radius: 15px;
    overflow: hidden;
}

.imageholder {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: orange;
}

.imageholder .date {
    position: absolute;
    padding: 10px 10px;
    border-bottom-right-radius: 5px;
    font-size: 20px;
    font-weight: lighter;
    background: #FFFFFF88;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.gallery-cell:hover .imageholder .date {
    opacity: 1;
}

.imageholder img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

p {
    width: 100%;
    height: auto;
    padding: 15px 15px;
    font-size: 30px;
}