* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}

body {
    background: #fff8b1
}

.gallery {
    margin-top: 100px;
    padding: 10px;
    background-color: #ffe884;
}

.gallery-cell {
    width: 66%;
    height: 500px;
    overflow: hidden;
    padding: 0 20px;
    display: flex;
    justify-content: center;
}

.cellcontent {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(#ff7777 50%, #ff4e4e);
    color: white;
    border-radius: 15px;
    overflow: hidden;
}

.imageholder {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: orange;
}

.imageholder .date {
    position: absolute;
    padding: 10px 10px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 15px;
    font-size: 20px;
    font-weight: lighter;
    background: #FFFFFF88;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.gallery-cell:hover .imageholder .date {
    opacity: 1;
}

.imageholder img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    transition: object-position 1s ease-in-out; 
}

.imageholder:hover img {
    animation: Inspect 12s infinite ease-in-out;
}

p {
    width: 100%;
    height: auto;
    padding: 15px 15px;
    font-size: 30px;
}

@keyframes Inspect {
    0% {
      object-position: center;
    }
    25% {
        object-position: bottom;
    }
    75% {
        object-position: top;
    }
    100% {
        object-position: center;
    }
}